
body{
    margin:0px; 
    user-select:none;
    font-size: 0.938em;
    overflow: hidden;
}

html, body, div, span, iframe, p, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
input, textarea, button, select, table, th, td, article, aside, section, figure, figcaption, img {
    margin: 0px; padding: 0px; border: 0px;    
}

a { 
    text-decoration: none; 
    color: inherit; 
}

li { 
    list-style:none;
}