

.frame{
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0px;
    transition: height 0.3s;
}

.board { 
    display: block;
    overflow: hidden;
    position: absolute; 
    left: 0px; 
    top: 0px;
    width: 100%; 
    height: 0%;  
    background-image: url(/resource/path/background.jpg);
    transition: height 0.3s;
    z-index: 1;
}

.board-tape0{
    position: absolute;
    transform: rotate(333deg);
    top: -175px;
    left: -150px;
}

.board-tape1{
    position: absolute;
    width: 100%;
    transform: rotate(105deg);
    bottom: -175px;
    left: 65px;
}