
.frame{
    width: 98%;
    min-height: 70px;
    padding-bottom: 30px;
    padding: 5px;
    
    transition: background-color 0.5s, box-shadow 0.2s;
}

.frame:hover{
    background-color: rgb(255,165,0,0.1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.03), 0 10px 10px rgba(0,0,0,0.03);
}

.top-wrap{
    display: flex;
}
.user-box{
    display: flex;
    width: 150px;
    height: 35px;
}
.user-thumbnail-box{
    width: 35px;
    height: 100%;
}
.user-thumbnail-img{
    width: auto;
    height: 100%;
}
.user-name-box{
    display: flex;
    width: 100%;
}
.user-name-p{
    margin: 0px;
    align-self: center;
}
.time-box{
    display: flex;
    margin-left: auto;
}
.time-p{
    margin: 0px;
    align-self: center;
    font-size: 11px;
}

.content-multiple-box p{
    word-break:break-all;
    margin: 0px;
}
